{{#if error}}
<p>Error: {{error}}</p>
{{/if}}

<section class="hero is-fullheight is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Edit your information!
      </h1>
      <section class='form'>
        <form method="post" action="/people/{{ id }}/edit?_method=PUT">
            <div class="field">
                <label>First Name</label>
                <input type="text" name="firstName" value="{{ firstName }}"/>
            </div class="field">
            <div class="field">
                <label>Middle Name</label>
                <input type="text" name="middleName" value="{{ middleName }}"/>
            </div>
            <div class="field">
                <label>Last Name</label>
                <input type="text" name="lastName" value="{{ lastName }}"/>
            </div>
            <div class="field">
                <label>Date of Birth</label>
                <input type="date" name="DOB" value="{{ DOB }}"/>
            </div>
            <div class="field">
                <label>Town/City of Birth</label>
                <input type="text" name="birthCity" value="{{ birthCity }}"/>
            </div>
            <div class="field">
                <label>State</label>
                <input type="text" name="birthState" value="{{ birthState }}"/>
            </div>
            <div class="field">
                <label>Country</label>
                <input type="text" name="birthCountry" value="{{ birthCountry }}"/>
            </div>
            {{!-- Submit Button--}}
            <div>
                <input type="submit" value="Update" class="button is-link is-outlined"/>
            </div>
            </form>
        </section>
        <div class="edit-buttons">
            <a href="/people/all" class="button is-dark">Back</a>
            <a class="button is-link" href="/people/{{id}}/add_child">Add Child</a>
            <a class="button is-danger" href="/people/{{id}}/add_event">Add Event</a>
        </div>
    </div>
  </div>
</section>

