<h1> Edit Person Page </h1>

{{#if error}}
<p>Error: {{error}}</p>
{{/if}}

<h2>Edit Person Information</h2>

<form method="post" action="/people/{{id}}/edit?_method=PUT">
    <div>
        <label>First Name</label>
        <input type="text" name="firstName" value="{{firstName}}" />
    </div>
    <div>
        <label>Middle Name</label>
        <input type="text" name="middleName" value="{{middleName}}"/>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastName" value="{{lastName}}"/>
    </div>
    <div>
        <label>Date of Birth</label>
        <input type="date" name="DOB" value="{{DOB}}"/>
    </div>
    <div>
        <label>Place of Birth</label>
        <input type="text" name="birthPlace" value="{{birthPlace}}"/>
    </div>

    {{!-- <h2>Family Information</h2>

    <div>
        <label>Children</label>
        <input type="text" name="children" />
    </div>
    <div>
        <label>Partners</label>
        <input type="text" name="partners" />
    </div>

    <h2>Events</h2>

    <div>
        <label>Event</label>
        <input type="text" name="event" />
    </div>
    <div>
        <label>Date</label>
        <input type="date" name="eventDate" />
    </div>
    <div>
        <label>Location</label>
        <input type="text" name="location" />
    </div> --}}

    {{!-- Submit Button--}}
    <div>
        <input type="submit" value="Update" />
    </div>
</form>

<a href="/user/logout">Logout</a>