<h1>All People</h1>

{{#each people}}
<p><strong>Person: </strong>{{ this.firstName }} {{ this.middleName }} {{ this.lastName }}</p>
<p><strong>Date of Birth: </strong>{{ this.DOB }}</p>
<p><strong>Place of Birth: </strong>{{ this.birthPlace }}</p>
{{/each}}