<h1>All People</h1>

{{#each people}}
<p>Person: {{ this.firstName }} {{ this.middleName }} {{ this.lastName }}</p>
<p>Date of Birth: {{ this.DOB }}</p>
<p>Place of Birth: {{ this.birthPlace }}</p>
{{/each}}