<h1>All People</h1>

<div class="columns">
    {{#each people}}
    <div class="column is-one-quarter">
        <div class="box">
            <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ this.firstName }} {{ this.middleName }} {{ this.lastName }}</strong>
                    </p>
                    <p>
                        <strong>Date of Birth:</strong> {{this.DOB}}
                    </p>
                    <p>
                        <strong>Place of Birth:</strong> {{ birthCity}} {{ birthState }}, {{ birthCountry }}
                    </p>
                    <a href="/people/{{this.id}}/edit">Edit</a>
                    <div>
                        <input type="checkbox" class="check_person" data-per_id={{this.id}}>
                        <label for="check_person">Select</label>
                    </div>
                    
                </div>
                <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                </div>
                </nav>
            </div>
            <div class="media-right">
                <form method="POST" action="{{this.id}}/delete?_method=DELETE" >
                    <input type="submit" class="del_btn" data-per_id={{this.id}} value="X">
                </form>
                
            </div>
            </article>
        </div>
    </div>
    {{/each}}
</div>
<button id="map_btn">Go To Map</button>
<a href="/user/logout">Logout</a>

<script>
    const map_btn = document.getElementById("map_btn")

    map_btn.addEventListener('click', () => {
        let ids_out = []
        let check_arr = document.querySelectorAll(".check_person")
        console.log(check_arr)
        check_arr.forEach(el => {
            if(el["checked"] == true){
                //console.log("checked == true")
                ids_out.push(el["dataset"]["per_id"])
            }
        })
        console.log(ids_out)
        window.location.href = `http://localhost:3000/pages/map?ids=${JSON.stringify(ids_out)}`
    })

</script>