<h1>All People</h1>
{{!-- 
{{#each people}}
<p><strong>Person: </strong>{{ this.firstName }} {{ this.middleName }} {{ this.lastName }}</p>
<p><strong>Date of Birth: </strong>{{ this.DOB }}</p>
<p><strong>Place of Birth: </strong>{{ this.birthPlace }}</p>
{{/each}} --}}
<div class="columns">
    {{#each people}}
    <div class="column is-one-quarter">
        <div class="box">
            <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ this.firstName }} {{ this.middleName }} {{ this.lastName }}</strong>
                    </p>
                    <p>
                        <strong>Date of Birth:</strong> {{this.DOB}}
                    </p>
                    <p>
                        <strong>Place of Birth:</strong> {{ birthCity}} {{ birthState }}, {{ birthCountry }}
                    </p>
                    <a href="/people/{{this.id}}/edit">Edit</a>
                </div>
                <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                </div>
                </nav>
            </div>
            <div class="media-right">
                <button class="delete"></button>
            </div>
            </article>
        </div>
    </div>
    {{/each}}
</div>
<a href="/user/logout">Logout</a>