<h1> Person Show </h1>

<h2>You have added the following person:</h2>

<p><strong>First Name: </strong> {{ firstName }}</p>
<p><strong>Middle Name: </strong> {{ middleName }}</p>
<p><strong>Last Name: </strong> {{ lastName }}</p>
<p><strong>DOB: </strong>{{ DOB }}</p>
<p><strong>Place of Birth: </strong>{{ birthPlace }}</p>

{{!-- <p><form method="POST" action="/{{._id}}?_method=DELETE">
    <button type="submit">Delete</button>
</form></p> --}}
<a href="/people/all">Show All People</a>
<a href="/user/logout">Logout</a>